@model IEnumerable<FPTJobMatch1670.Models.Job>

@{
    ViewData["Title"] = "Jobs";
}

<h1>Jobs</h1>

<p>
    <form asp-controller="Jobs" asp-action="Search" method="post">
        <input class="form-control" type ="search" name="keyword" placeholder="Search by name" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Applications" asp-action="Create">Apply</a>
            </td>
        </tr>
}
    </tbody>
</table>
